/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --lime: hsl(61, 70%, 52%);
  --red: hsl(4, 69%, 50%);
  /* # NEUTRAL # */
  --white: hsl(0, 0%, 100%);
  --slate-100: hsl(202, 86%, 94%);
  --slate-300: hsl(203, 41%, 72%);
  --slate-500: hsl(300, 26%, 54%);
  --slate-700: hsl(200, 24%, 40%);
  --slate-900: hsl(202, 55%, 16%);

  /* # TYPOGRAPHY # */
  --ff-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --fw-500: 500;
  --fw-700: 700;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  color: inherit;
  font: inherit;
}

button {
  border: none;
  background-color: unset;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* ### UTILITY CLASSES ### */

.hide {
  display: none;
}
